<%= form_for(@belong) do |f| %>
  <% if @belong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@belong.errors.count, "error") %> prohibited this belong from being saved:</h2>
      <ul>
        <% @belong.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table border="1">
    <tr>
      <p>
        <td><div align=right><strong>ID</strong></div></td>
        <td><div align=left><%= params[:id] %></div></td>
      </p>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "コード" %><br></td>
        <td align=left width="200" height="30"><%= f.text_field :code %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "品名" %><br></td>
        <td align=left width="200" height="30"><%= f.text_field :name %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "型番" %><br></td>
        <td align=left width="200" height="30"><%= f.text_field :model %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "管理部署" %><br></td>
        <td align=left width="200" height="30">
        <%= f.collection_select(:department_id, Department.all, :id, :name) %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "主使用者" %><br></td>
        <td align=left width="200" height="30">
        <%= f.collection_select(:user_id, User.all, :id, :name) %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "設置場所" %><br></td>
        <td align=left width="200" height="30"><%= f.text_field :set %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "取得日付" %><br></td>
        <td align=left width="200" height="30">
        <%= f.text_field :acquired_on, :class => 'datepicker' %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "廃棄日付" %><br></td>
        <td align=left width="200" height="30">
        <%= f.text_field :disponed_on, :class => 'datepicker' %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td align=right width="100" height="30"><%= f.label "備考" %><br></td>
        <td align=left width="200" height="70"><%= f.text_area :memo %></td>
      </div>
    </tr>
    <tr>
      <p>
        <td width="100" height="30"><div align=right><strong>更新日付</strong></div></td>
        <td width="200" height="30"><div align=left><%= @belong.updated_at %></div></td>
      </p>
    </tr>
    <tr>
      <p>
        <td width="100" height="30"><div align=right><strong>登録日付</strong></div></td>
        <td width="200" height="30"><div align=left><%= @belong.created_at %></div></td>
      </p>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= button_to 'キャンセル', belongs_path, method: :get %>