<p id="notice"><%= notice %></p>

<div align=right>
  <%= link_to "ログアウト" , controller: :login, action: :index %>
</div>

<h1>資産情報一覧</h1>

<%= form_tag({:action=>"search"},{:method=>"GET"}) do %>
  <table border="1">
    <tr>
      <th>コード</th>
      <th><%= text_field_tag "search[code]" %></th>
      <th>状態</th>
      <th><%= select "search","state",["すべて","使用中","廃棄済み"] %></th>
    </tr>
    <tr>
      <th>品名</th>
      <th><%= text_field_tag "search[name]" %></th>
      <th>型番</th>
      <th><%= text_field_tag "search[model]" %></th>
    </tr> 
    <tr>
      <th>部署</th>
      <th><%= collection_select("search", "department_id", Department.all, :id, :name, :prompt => "すべて") %></th>
      <th>使用者</th>
      <th><%= collection_select("search", "user_id", User.all, :id, :name, :prompt => "") %></th>
    </tr>
    <tr>
      <th>取得日付</th>
      <th>
      <div class="field">
        <%= text_field "search", "before_date", :class => 'datepicker' %>
      
~
      
        <%= text_field "search", "after_date", :class => 'datepicker' %>
      </div>
      </th>
    </tr>
  </table>
  <%= submit_tag "検索" %>
<% end %>
<div style="margin-right:535px">
  <% if controller.action_name == "search" %>
    <%= "検索結果：#{@belongs.count}件" %>
  <% else %>
    <%= "検索結果：0件" %>
  <% end %>
</div>
<div style="margin-left:535px"><%= paginate @belongs %></div>
<table border="1">
  <thead>
    <tr>
      <th align=center width="70" height="30">コード</th>
      <th align=center width="100" height="30">品名</th>
      <th align=center width="100" height="30">型番</th>
      <th align=center width="100" height="30">部署</th>
      <th align=center width="100" height="30">使用者</th>
      <th align=center width="120" height="30">取得日</th>
      <th align=center width="150" height="30"　colspan="4">アクション</th>
    </tr>
  </thead>

  <tbody>
    <% @belongs.each do |belong| %>
      <% if belong.soft_destroyed_at != nil %>
        <% if controller.action_name == "search" %>
          <tr>
            <td align=center height="30"><%= belong.code %></td>
            <td align=center height="30"><%= belong.name %></td>
            <td align=center height="30"><%= belong.model %></td>
            <td align=center height="30"><%= belong.department.try(:name) %></td>
            <td align=center height="30"><%= belong.user.try(:name) %></td>
            <td align=center height="30"><%= belong.acquired_on %></td>
            <td align=center height="30">
              <%= link_to 'コピー',copy_belong_path(belong),  :method => :post %>
              <%= link_to '詳細', belong %>
              <% if session[:system] == true %>
                <%= link_to '変更', edit_belong_path(belong) %>
                <%= link_to '削除', belong, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% elsif session[:admin] == true %>
                <%= link_to '変更', edit_belong_path(belong) %>
                <%= link_to '削除', belong, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% else %>
              <% end %>
            </td>
          </tr>
        <% else %>
        <% end %>
      <% else %>
        <tr>
          <td align=center height="30"><%= belong.code %></td>
          <td align=center height="30"><%= belong.name %></td>
          <td align=center height="30"><%= belong.model %></td>
          <td align=center height="30"><%= belong.department.try(:name) %></td>
          <td align=center height="30"><%= belong.user.try(:name) %></td>
          <td align=center height="30"><%= belong.acquired_on %></td>
          <td align=center height="30">
            <%= link_to 'コピー',copy_belong_path(belong),  :method => :post %>
            <%= link_to '詳細', belong %>
            <% if session[:system] == true %>
              <%= link_to '変更', edit_belong_path(belong) %>
              <%= link_to '削除', belong, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% elsif session[:admin] == true %>
              <%= link_to '変更', edit_belong_path(belong) %>
              <%= link_to '削除', belong, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

  <%= link_to '新規資産登録', new_belong_path %>
  <%= link_to 'メニューに戻る', menu_index_path %>