<p id="notice"><%= notice %></p>

<h1>Listing Belongs</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Model</th>
      <th>Department</th>
      <th>User</th>
      <th>Acquired on</th>
      <th>Disponed on</th>
      <th>Memo</th>
      <th>Delete flg</th>
      <th>Update at</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @belongs.each do |belong| %>
      <tr>
        <td><%= belong.code %></td>
        <td><%= belong.name %></td>
        <td><%= belong.model %></td>
        <td><%= belong.department_id %></td>
        <td><%= belong.user_id %></td>
        <td><%= belong.acquired_on %></td>
        <td><%= belong.disponed_on %></td>
        <td><%= belong.memo %></td>
        <td><%= belong.delete_flg %></td>
        <td><%= belong.update_at %></td>
        <td><%= belong.created_at %></td>
        <td><%= link_to 'Show', belong %></td>
        <td><%= link_to 'Edit', edit_belong_path(belong) %></td>
        <td><%= link_to 'Destroy', belong, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Belong', new_belong_path %>
