<p id="notice"><%= notice %></p>
  <div align=right>
    <%= link_to "ログアウト" , controller: :login, action: :index %>
  </div>
<body style="text-alingn:center">
  <h1>メニュー</h1>

  <p>&nbsp;</p>

  <div>
    <p style="width:20%;margin-left:auto;margin-right:auto;text-align:left;"><%= link_to "ユーザー管理", users_path %></p>
  </div>

  <div>
    <p style="width:20%;margin-left:auto;margin-right:auto;text-align:left;"><%= link_to "資産管理", belongs_path %></p>
  </div>

  <p>&nbsp;</p>


  <div>
    <p style="width:20%;margin-left:auto;margin-right:auto;text-align:left;"><%= link_to "パスワード変更", edit_password_user_path(session[:usr]) %></p>
  </div>
</body>