<%= form_for @user, :url => {:action => 'update_password'} do |f| %>
  <div align=right>
    <%= link_to "ログアウト" , controller: :login, action: :index %>
  </div>

  <h1>パスワード変更</h1>

  <p>&nbsp;</p>
  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table border="1">
    <tr>
      <div class="field">
        <td>
          <%= label_tag :password, '現パスワード' %>
        </td>
        <td>
          <%= password_field_tag 'gen_password' %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td>
          <%= label_tag :password, '新パスワード' %>
        </td>
        <td>
          <%= f.password_field :password %>
        </td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td>
          <%= label_tag :password, '確認パスワード' %>
        </td>
        <td>
          <%= f.password_field :password_confirmation %>
        </td>
      </div>
    </tr>
  </table>
  <p>&nbsp;</p>
  <div class="actions">
    <%= f.submit :変更 %>
 　</div>
<% end %>

<%= button_to 'キャンセル', menu_index_path, method: :get %>