<%= form_for @user, :url => {:action => 'update_password'} do |f| %>
<h1>ユーザー情報変更</h1>

<table border="1">
   <tr>
     <div class="field">
       <td>
         <%= label_tag :password, '新パスワード' %>
       </td>
       <td>
         <%= f.password_field :password %>
       </td>
     </div>
   </tr>
   <tr>
     <div class="field">
       <td>
         <%= label_tag :password, '確認パスワード' %>
       </td>
       <td>
         <%= f.password_field :password_confirmation %>
       </td>
     </div>
   </tr>
</table>

  <div class="actions">
    <%= f.submit :変更%>
  </div>

<%= link_to 'キャンセル', menu_index_path %>
<% end %>