  <div align=right>
    <%= link_to "ログアウト" , controller: :login, action: :index %>
  </div>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">

      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>ユーザー情報登録</h1>
<table border="1">
  <tr>
  <div class="field">
    <td><%= f.label :コード %><br></td>
    <td><%= f.text_field :code %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :氏名 %><br></td>
    <td><%= f.text_field :name %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :パスワード %><br></td>
    <td><%= f.text_field :password %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :所属部署 %><br></td>
    <td><%= f.number_field :department_id %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :システム管理権限 %><br></td>
    <td><%= f.check_box :system %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :資産管理権限 %><br></td>
    <td><%= f.check_box :admin %></td>
  </div>
  </tr>
</table>
  <div class="actions">
    <%= f.submit :登録%>
  </div>

<%= link_to 'キャンセル', users_path %>
<%= link_to 'メニューに戻る', menu_index_path %>
  <% end %>