<div align=right>
  <%= link_to "ログアウト" , controller: :login, action: :index %>
</div>

<p id="notice"><%= notice %></p>

<h1>ユーザー情報詳細</h1>

<table border="1">
  <tr>
    <p>
      <td><div align=right><strong>ID</strong></div></td>
      <td><div align=left><%= params[:id] %></div></td>
    </p>
  </tr>
  <tr>
    <p>
      <td><div align=right><strong>コード</strong></div></td>
      <td><div align=left><%= @user.code %></div></td>
    </p>
  </tr>
  <tr>
    <p>
      <td><div align=right><strong>氏名</strong></div></td>
      <td><div align=left><%= @user.name %></div></td>
    </p>
  </tr>
  <tr>
    <% if session[:system] == true %>
      <p>
        <td><div align=right><strong>パスワード:</strong></div></td>
        <td><div align=left><%= @user.password%></div></td>
      </p>
    <% else %>
      <p>
        <td><div align=right><strong>パスワード:</strong></div></td>
        <td><div align=left><%= @user.password.length %></div></td>
      </p>
    <% end %>
  </tr>
  <tr>
    <p>
      <td><div align=right><strong>所属部署:</strong></div></td>
      <td><div align=left><%= @user.department_id %></div></td>
    </p>
  </tr>
  <% if session[:system] == true %>
    <% if @user.system == true %>
      <tr>
        <p>
          <td><div align=right><strong>システム管理権限:</strong></div></td>
          <td><div align=left><%= "○" %></div></td>
        </p>
      </tr>
    <% else %>
      <tr>
        <p>
          <td><div align=right><strong>システム管理権限:</strong></div></td>
          <td><div align=left><%= "×" %></div></td>
        </p>
      </tr>
    <% end %>
    <% if @user.admin == true %>
      <tr>
        <p>
          <td><div align=right><strong>資産管理権限:</strong></div></td>
          <td><div align=left><%= "○" %></div></td>
        </p>
      </tr>
    <% else %>
      <tr>
        <p>
          <td><div align=right><strong>資産管理権限:</strong></div></td>
          <td><div align=left><%= "×" %></div></td>
        </p>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <p>
      <td><div align=right><strong>更新日時</strong></div></td>
      <td><div align=left><%= @user.updated_at %></div></td>
    </p>
  </tr>
  <tr>
    <p>
      <td><div align=right><strong>登録日時:</strong></div></td>
      <td><div align=left><%= @user.created_at %></div></td>
    </p>
  </tr>
</table>

<%= link_to '変更する', edit_user_path(@user) %> 
<%= link_to '一覧に戻る', users_path %>
<%= link_to 'メニューに戻る', menu_index_path %>