<p id="notice"><%= notice %></p>
<div align=right>
  <%= link_to "ログアウト" , controller: :login, action: :index %>
</div>

<h1>ユーザー情報一括変更</h1>

<%= form_tag({:action=>"zen_search"},{:method=>"GET"}) do %>
  <table border="1">
    <tr>
      <th>コード</th>
      <th><%= text_field_tag "search[code]" %></th>
    </tr>
    <tr>
      <th>氏名</th>
      <th><%= text_field_tag "search[name]" %></th>
    </tr> 
    <tr>
      <th>部署</th>
      <th><%= collection_select("search", "department_id", Department.all, :id, :name, :prompt => "すべて") %></th>
    </tr>
  </table>
  <div><%= submit_tag "検索" %></div>
<% end %>
<div style="margin-right:535px">
  <% if controller.action_name == "zen_search" %>
    <%= "検索結果：#{@users.count}件" %>
  <% else %>
    <%= "検索結果：0件" %>
  <% end %>
</div>
  <div style="margin-left:535px"><%= paginate @users %></div>
<table border="1">
  <thead>
    <tr>
      <th align=center width="70" height="30">コード</th>
      <th align=center width="70" height="30">氏名</th>
      <th align=center width="70" height="30">パスワード</th>
      <th align=center width="70" height="30">部署</th>
      <th align=center width="70" height="30">システム管理</th>
      <th align=center width="70" height="30">資産管理</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag users_zen_update_path,method: :put do %>
      <% @users.each do |user| %>
        <%= fields_for "users[]" ,user do |f| %>
          <tr>
            <td align=center height="30"><%= f.text_field :code %></td>
            <td align=center height="30"><%= f.text_field :name %></td>
            <td align=center height="30"><%= f.text_field :password %></td>
            <td align=center height="30"><%= f.collection_select(:department_id, Department.all, :id, :name) %></td>
            <td align=center height="30"><%= f.check_box :system %></td>
            <td align=center height="30"><%= f.check_box :admin %></td>
          </tr>
        <% end %>
      <% end %>
      <%= submit_tag '更新' %>
    <% end %>
  </tbody>
</table>
<br>
<div align="left"><%= link_to '一覧に戻る', users_path %></div>
<div align="right"><%= link_to 'メニューに戻る', menu_index_path %></div>