<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table border="1">

  <tr>
  <div class="field">
    <td><%= f.label :code %><br></td>
    <td><%= f.text_field :code %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :name %><br></td>
    <td><%= f.text_field :name %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :model %><br></td>
    <td><%= f.text_field :model %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :department_id %><br></td>
    <td><%= f.number_field :department_id %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :user_id %><br></td>
    <td><%= f.number_field :user_id %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :acquired_on %><br></td>
    <td><%= f.date_select :acquired_on %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :disposed_on %><br></td>
    <td><%= f.date_select :disposed_on %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :memo %><br></td>
    <td><%= f.text_area :memo %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :delete %><br></td>
    <td><%= f.check_box :delete_flg %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :updated_at %><br></td>
    <td><%= f.datetime_select :updated_at %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :created_at %><br></td>
    <td><%= f.datetime_select :created_at %></td>
  </div>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
