<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
  <div align=right>
    <%= link_to "ログアウト" , controller: :login, action: :index %>
  </div>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table border="1">

  <tr>
  <div class="field">
    <td><%= f.label :コード %><br></td>
    <td><%= f.text_field :code %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :品名 %><br></td>
    <td><%= f.text_field :name %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :型番 %><br></td>
    <td><%= f.text_field :model %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :管理部署 %><br></td>
    <td><%= f.number_field :department_id %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :主使用者 %><br></td>
    <td><%= f.number_field :user_id %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :取得日付 %><br></td>
    <td><%= f.date_select :acquired_on %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :備考 %><br></td>
    <td><%= f.text_area :memo %></td>
  </div>
  </tr>
</table>
  <div class="actions">
    <%= f.submit :登録%>
  </div>
<% end %>
