<h1>資産情報変更</h1>

<table border="1">

  <tr>
  <div class="field">
    <td><%= f.label :コード %><br></td>
    <td><%= f.text_field :code %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :品名 %><br></td>
    <td><%= f.text_field :name %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :型番 %><br></td>
    <td><%= f.text_field :model %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :管理部署 %><br></td>
    <td><%= f.number_field :department_id %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :使用者 %><br></td>
    <td><%= f.number_field :user_id %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :取得日付 %><br></td>
    <td><%= f.date_select :acquired_on %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :廃棄日付 %><br></td>
    <td><%= f.date_select :disposed_on %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :備考 %><br></td>
    <td><%= f.text_area :memo %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :更新日付 %><br></td>
    <td><%= f.datetime_select :updated_at %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <td><%= f.label :登録日付 %><br></td>
    <td><%= f.datetime_select :created_at %></td>
  </div>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>

<%= link_to 'キャンセル', assets_path %>
<%= link_to 'メニューに戻る', menu_index_path %>