<p id="notice"><%= notice %></p>

<h1>Listing Assets</h1>

<table border="1">
  <thead>
    <tr>
      <th>コード</th>
      <th>品名</th>
      <th>型番</th>
      <th>部署</th>
      <th>使用者</th>
      <th>取得日付</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset.code %></td>
        <td><%= asset.name %></td>
        <td><%= asset.model %></td>
        <td><%= asset.department_id %></td>
        <td><%= asset.user_id %></td>
        <td><%= asset.acquired_on %></td>
        <td><%= link_to 'コピー',edit_asset_path(asset) %></td>
        <td><%= link_to '詳細', asset %></td>
        <td><%= link_to '変更', edit_asset_path(asset) %></td>
        <td><%= link_to '削除', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規資産登録', new_asset_path %>

<%= link_to 'メニューに戻る', menu_index_path %>