<p id="notice"><%= notice %></p>
<h1>資産情報詳細</h1>
<table border="1">
<tr>
<p>
  <td><strong>コード</strong>
  <td><%= @asset.code %>
</p>
</tr>
<tr>
<p>
  <td><strong>品名</strong>
  <td><%= @asset.name %>
</p>
</tr>
<tr>
<p>
  <td><strong>型番</strong>
  <td><%= @asset.model %>
</p>
</tr>
<tr>
<p>
  <td><strong>管理部署</strong>
  <td><%= @asset.department_id %>
</p>
</tr>
<tr>
<p>
  <td><strong>使用者</strong>
  <td><%= @asset.user_id %>
</p>
</tr>
<tr>
<p>
  <td><strong>取得日付</strong>
  <td><%= @asset.acquired_on %>
</p>
</tr>
<tr>
<p>
  <td><strong>備考</strong>
  <td><%= @asset.memo %>
</p>
</tr>
</table>

<%= link_to '変更する', edit_asset_path(@asset) %> |
<%= link_to '一覧に戻る', assets_path %>
<%= link_to 'メニューに戻る', menu_index_path %>